/*
© Ben Francis 2017

This file is part of Webian Home.

Webian Home is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Webian Home is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Webian Home.  If not, see <http://www.gnu.org/licenses/>.
*/
html {
  font-size: 10px;
  font-family: sans-serif;
  padding: 2rem;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #5d9bc7;
}

#wordmark {
  display: block;
  margin: 2rem auto;
}

#floorplan {
  display: block;
  width: 60%;
  margin: 2rem auto;
}
